<div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Branches Details
                </div>
                <div class="card-block">
                    <div class="table-responsive ">
                        <table class="table table-bordered" style ="width:50%"  cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Branch Name</th>
                                    <th>Date</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Branch1</td>
                                    <td>13/07/2017</td>
                                    
                                </tr>
                                <tr>
                                    <td>Branch2</td>
                                    <td>10/07/2017</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">
                    Updated yesterday at 11:59 PM
                </div>
            </div>